BasedOnStyle: LLVM
IndentWidth: 4


ColumnLimit: 100
BreakBeforeBraces: Allman

AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty

PointerAlignment: Left
ReferenceAlignment: Left

SpaceBeforeParens: ControlStatements
SpacesInAngles: false

Standard: c++20
 
SortIncludes: true
IncludeBlocks: Regroup

DerivePointerAlignment: false
