BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never

ColumnLimit: 100
BreakBeforeBraces: Allman

AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty

PointerAlignment: Left
ReferenceAlignment: Left

SpaceBeforeParens: ControlStatements
SpacesInAngles: false

Standard: c++20
 
SortIncludes: true
IncludeBlocks: Regroup

DerivePointerAlignment: false
